<div class="p-card-shadow">
  <div class="flex flex-column">
        <p-card header="In Vino Veritas" subheader="Stores & Information" [style]="{ maxWidth: '380px', width: '100%', marginBottom: '1rem'}"
          class="flex align-items-center justify-content-center" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://winestore-online.com/Storage/media/images/20190524/192331-chapelhill.jpeg">
          </ng-template>
          <p>Our goal is to provide a fun, educational and non-intimidating shopping experience for wine lovers of all levels of expertise.</p>
        </p-card>
        <p-card header="STORE HOURS" subheader="Stores & Information" [style]="{ maxWidth: '380px', width: '100%', marginBottom: '1rem'}"
          class="flex align-items-center justify-content-center" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="https://d1tm14lrsghf7q.cloudfront.net/public/media/36969/conversions/36422-thumb.jpg">
          </ng-template>
          <p>Sunday – Thursday	11am – 8pm</p>
          <p>Friday 9am - 1pm</p>
        </p-card>
  </div>
</div>