<div class="p-card-shadow">
	<div class="flex flex-column">
		  <p-card header="In Vino Veritas" subheader="Stores & Information" [style]="{ maxWidth: '380px', width: '100%', marginBottom: '1rem'}"
			class="flex align-items-center justify-content-center" styleClass="p-card-shadow">
			<ng-template pTemplate="header">
			  <img alt="Card" src="https://images.pexels.com/photos/164763/pexels-photo-164763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</ng-template>
			<p>You can walk around the retail shop and pick anything off the shelf and have it opened and professionally served in proper glassware at the proper temperature in the wine bar.</p>
			<p>Purchase a bottle at the shop and you have the option to take it home or drink it on site. Bottles can also be housed in a special locker for wine lounge members—customers who spend $100 in the shop within a month</p>
		  </p-card>
	</div>
  </div>