<div class="wrapper">
	<div class="container">
	  <div class="top" [ngStyle]="{backgroundImage: 'url(' + product.image + ')'}"></div>
	  <div class="bottom" [ngClass]="{'clicked': added}">
		<div class="left">
		  <div class="details">
			<p class="font-bold text-lg">{{product.name}}</p>
			<p>{{product.price | currency: 'USD'}}</p>
		  </div>
		  <div class="buy" (click)="addItemToCart(product._id)">
			  <i class="pi pi-shopping-cart"></i>
			</div>
		</div>
		<div class="right">
		  <div class="done"><i class="pi pi-check"></i></div>
		  <div class="details text-lg">
			<p class="font-bold">{{product.name}}</p>
			<p class="text-xs">Added to your cart</p>
		  </div>
		</div>
	  </div>
	</div>
	<div class="inside">
	  <div class="icon"><i class="pi pi-info-circle"></i></div>
	  <div class="contents">
			<p-scrollPanel [style]="{width: '100%', height: '380px'}">
				<div>
					<span class="font-bold">Category: </span><span>{{product.category}}</span>
				</div>
				<div>
					<span class="font-bold">Subcategory: </span><span>{{product.subcategory}}</span>
				</div>
				<div>
					<span class="font-bold">Unit: </span><span>{{product.unit}}</span>
				</div>
				<p>
					{{product.description}}
				</p>
			</p-scrollPanel>
	</div>
  </div>